.subContainer{
    position: relative;
    bottom: 50vh;
}
.story{
    // position: absolute;
}
.htmlContainer{
    // position: absolute;
    width: 400px;
    color: red;
    // top: 50vh;
}
.ctaContainer{
    padding: 10px 10px;
}